<div class="row">
    <div class="col-md-4"></div>
    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <form id='reset-password' [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
            <tr>
                <h3>Password recovery</h3>
               
            </tr>
            <tr>
                Enter your verification code:
            </tr>
            <div class="form-group">
                <input type="text" placeholder="Confirmation Code" formControlName="token">
                <div class="text-danger" *ngIf="invalidToken">Invalid token</div>
            </div>
            <label for="error" *ngIf="passwordForm.controls['token'].invalid&&isSubmitted">Invalid token</label>
            <tr>
                Please enter your new password:
            </tr>
            <tr>           
            </tr>

            <div class="form-group">
                <input style="width:100%" type="password" placeholder="Enter a new password" formControlName="password">
            </div>
            <label for="error" *ngIf="passwordForm.controls['password'].invalid && isSubmitted">Password is required, minimum 6 characters and maximum of 30 characters</label>
            <div class="form-group">
                Confirm password:
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm your password" formControlName="confirmPassword">
            </div>
            <label for="error" *ngIf="passwordForm.controls['confirmPassword'].invalid && isSubmitted">Password does not match</label>
            <br>
            <div class="form-group">
                <button id="submit" type="submit" class="btn btn text-white">Reset your password</button>
            </div>
        </form>
    </div>
</div>
<app-loader></app-loader>