table{width:100%}
form#reset-password{margin-top:8rem;margin-bottom:0}
label{color:red}
form{padding:15px;border:5px solid #2d8bca}
.form-group input,button#submit{width:100%;padding:10px;}
button#submit{background-color:#2d8bca}