<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <form class="mt-2 pt-2" [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
            <tr>
                <h3 style="text-align:center">Password recovery</h3>
            </tr>
            <tr>
                Please enter your new password:
            </tr>

            <tr>

                <input type="password" placeholder="Enter a new password" formControlName="password">

            </tr>
            <label for="error" *ngIf="passwordForm.controls['password'].invalid && isSubmitted">Password is required, minimum 6 characters and maximum of 30 characters</label>
            <tr>
                Confirm password:
            </tr>
            <tr>
                <input type="password" placeholder="Confirm your password" formControlName="confirmPassword">
            </tr>
            <label for="error" *ngIf="passwordForm.controls['confirmPassword'].invalid && isSubmitted">Password does not match</label>
            <br>
            <tr>
                <button type="submit">Reset your password</button>
            </tr>
        </form>
    </div>
</div>