<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <form class="mt-2 pt-2">
            <tr>
                <h3 style="text-align:center">Password recovery</h3>
            </tr>
            <tr>
                Please enter your new password
            </tr>

            <tr>

                <input type="password" placeholder="Enter a new password">

            </tr>
            <tr>
                Confirm password
            </tr>
            <tr>
                <input type="password" placeholder="Confirm your password">
            </tr>
            <label for="error">Password does not match</label>
            <tr>
                <button>Recover your password</button>

            </tr>
        </form>
    </div>
</div>