<footer>
    <div class=" footer row container-fluid" >
    <div class="col-md-5">
        <div class="links">
            <span>About Tung</span>
            <br>
            Welcome to the DXT .   Please check out <a routerLink="/home"> our products </a> at your convenience Lorem ipsum dolor sit amet consectetur adipisicing elit. In, laboriosam?     
        </div>
    </div>
    <div class="col-md-4">
        <span>Copyrights</span><br>
        Copyright 2022 @ Tung. All rights reserved. Unauthorized distribution of the resources will be prosecuted
    </div>
    <div class="col-md-3">
        <span>Contact Me</span>
        <br>
        1326 Migration Drive,CA 12206
        Minneapolis, United States
        Phone:12345678, Mr. D.X.Tung, Email address: tung@hotmail.com
        <br>
        <a routerLink="facebook.com" class="fa fa-facebook"></a>
        <a routerLink="twitter.com" class="fa fa-twitter"></a>
        <a routerLink="linkedin.com" class="fa fa-linkedin"></a>
        <a routerLink="instagram.com" class="fa fa-instagram"></a>
    </div>
        
    </div>
    </footer>
