body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.container{margin-bottom: 15%;padding:10px}
input[type=text],input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
label#error{
  font-style: italic;
  font-size:15px;
  margin-top:-15px;
  margin-bottom:20px
}
tr td{padding-bottom:15px}
input[type=submit] {
  background-color: rgb(46, 113, 189);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button.btn-close{
  width:2em;
  height:2em;
}
i.btn:hover{opacity: 0.7}
button#detail:hover{opacity: 0.7;}