.hidden-row{
display:none;
}
h3#header{
  text-align: center;
  color:grey
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  .component-title{
    text-align: center;background-color: #2d80b8;;
  }
  label{font-style: italic;font-size:15px;}
  span.plus{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    color:#015d9b;
    padding: 3px;
  }
  button.add-user{
    background-color:#026eb6;height:50px;width:12rem
  }
  input[type="text"],
  input[type="number"],input[type="password"],
  select
{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 4px;
  }
 tr td{
    padding-bottom:15px
  }
  .rolebox {
    padding: 0px;
    margin-right: 15px;
    border: 0.5px solid black;
    background-color: #186192;
    border-radius: 5px;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom:15%
  }
  ul li {
    list-style-type: none;
    float: left;
    border: 1px solid black;
    font-size: 13px;
  }
  button#removerole {
    background-color: white;
    opacity: 1;
  }
  button.addrole{
    width: 42px;
    height: 43px;
    font-size:20px
  }
  button#control {
    width: 10rem;
  }
  button:hover {
    opacity: 0.7;
  }
  i {
    color: rgb(24, 69, 121);
    font-size: 20px;
  }
  i:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .admin-row{
    background-color: #e0ebf5;
    font-size: 18px;
  }
  button#search{
    height:3em;width: 5em;
    background-color: #318dca;
  }
  .masterrow{
    background-color:rgb(248, 248, 236)
  }
  .moderatorrow{
  background-color: rgb(241, 252, 248);
  }
  .username-row{
      background-color: #ceeaff;
  }
  .hide-buttons{
      display:none
  }
  button#close{
    height: 2rem;
    width: 2rem;
  }
  button.control{
    width:10em
  }
  th,tr{margin:15px}
  table#add-user tr td{max-width:250px}