<body>
  <div class="container">
    <div class="row">
      <h3 id="header">MANAGE USERS</h3>
    </div>

    <!-- FILTER AND SEARCH -->
    <div class="row mt-3">
      <div class="col-md-3">
        <input type="text" (keydown.enter)="eventSearch()" class="form-control" placeholder="Search by username or email" [(ngModel)]="username">
      <div class="text-danger mt-1" *ngIf="isSearched"><span style="font-size:20px">{{users.length}}</span> results    <span *ngIf="username!=null"> for "{{username}}"</span>,  page {{page}} </div>
   
    </div>
  
      <div class="col-md-3 " style="height:45px">
        <button class="btn text-white" style="background-color:#3895d3;height:45px" id='search'
          (click)="eventSearch()">Search</button>
        <button class="btn btn-secondary" style="margin-left:10px;height:45px;width:7em" (click)="clearFilter()">Clear
          filters</button>
      </div>
      <div class="col-md-2 ">
    
      </div>
      <div class="col-md-4 ">
        <button style="height:45px;float:right" type="button" class="btn btn text-white add-user" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          <span class="bg-white plus"><i class="fa fa-plus"></i></span> Add New User
        </button>
      </div>
    </div>


    <!-- ADD NEW ACCOUNT MODAL -->
    <div class="row">
 
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-diaglog-scrollable">
          <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #318dca;">
              <h5 class="modal-title" id="exampleModalLabel">Add A New Account</h5>
              <button type="button" id="close" class="btn btn-close bg-white" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <app-loader></app-loader>
              <form [formGroup]="userForm" (submit)="addUser()">
                <span for="error" class="text-danger" *ngIf="isSubmitted&&addUserFailed">Add user failed!
                  {{errorMessage}}</span>
                <table id="add-user" width="100%">
              
                  <tr>
                    <td style="width:30%">Username</td>
                    <td><input type='text' formControlName="username" placeholder="Enter a username">
                      <span class="text-danger" for="username"
                        *ngIf="userForm.controls['username'].invalid&&isSubmitted">Username is required, 4-20
                        characters</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><input type='text' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" formControlName="email"
                        placeholder="Enter an email">
                      <label class="text-danger" for="email"
                        *ngIf="userForm.controls['email'].invalid&&isSubmitted">Please enter a valid email
                        address</label>
                    </td>
                  </tr>
                  <tr>
                    <td>Role</td>
                    <!-- <td><select formControlName="role">
                 <option [selected]="role.id==userForm.controls['role'].value" *ngFor='let role of selectedRoles' [value]="role.id" >{{role.tag}}</option>
                    </select></td> -->
                    <td>
                      <select formControlName="role">
                        <option *ngFor="let role of optionRoles" [value]="role">{{role}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td><input type='password' formControlName="password" placeholder="Enter a password">
                      <label class="text-danger" for="password"
                        *ngIf="userForm.controls['password'].invalid&&isSubmitted">Password is required, minimum 6
                        characters.</label>
                    </td>
                  </tr>
                  <tr>
                    <td>Confirm Password</td>
                    <td><input type='password' formControlName="confirmPassword" placeholder="Confirm password"><br>
                      <label for="confirmPassword" class="text-danger"
                        *ngIf="userForm.controls['confirmPassword'].invalid&&isSubmitted">Password does not
                        match</label>
                    </td>
                  </tr>
                </table>
                <div class="modal-footer">
                  <div style="margin-right: 0;">
                    <button type="submit" class="btn btn text-white control" style="background-color:#3085bd;">Create
                      User</button>
                    &nbsp;<button #closeAddUser type="button" class="btn btn-outline-secondary control"
                      data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-2">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Total users:</th>
              <td>{{totalAccounts}}</td>
          </tbody>
        </table>
      </div>
    </div>
    <table class="mt-3" style="width:100%">
      <tr>
          <td colspan="7">
              <div class="d-flex flex-row-reverse bd-highlight">
                  <div class="bd-highlight">
                      <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
                          (pageChange)="handlePageChange($event)" style="float:right;margin-top:5px" class="my-pagination">
                      </pagination-controls>
                  </div>
                  <div style="max-height:50px" class="p-2 "><select style="padding:5px" id="pageSize" [(ngModel)]="pageSize"
                          (change)="displayUser(pageSize)">
                          <option value="10">10 items per page</option>
                          <option value="20">20 items per page</option>
                      </select></div>
              </div>
          </td>
      </tr>
  </table>

    <table id='users' class="table table p-0.5">
      <thead class="text-white" style="background-color: #3895d3;">
        <tr>
          <th style="width:10%">User Name</th>
          <th style="width:10%">Email</th>
          <th style="width:5%">Role</th>
          <th style="width:10%" class="text-center" >Action</th>
        </tr>
      </thead>
      <tbody class="px-5">
        <tr [ngClass]="{'username-row':this.currentUsername===user.username,'admin-row':
            checkAdminRole(user.roles),
            'masterrow':checkMasterRole(user.roles),
            'moderatorrow':checkModeratorRole(user.roles)}" *ngFor="let user of users | paginate
                    : {
                     
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: count
                      }">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>
            <div *ngFor="let a of user.roles"><span>{{a['name']}}</span></div>

          </td>
          <td>
            <div class="text-center" [ngClass]="{'hide-buttons':this.currentUsername===user.username}">
              <button class="btn btn text-white" style="background-color: #318dca"
                (click)="userModal(user.id)">View</button>&nbsp;
              <button class="btn btn text-white" *ngIf="user.editable" style="background-color: rgb(170, 22, 22);"
                data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="getUserDetail(user.id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="this.users.length==0||this.users.length==null" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">NO USER FOUND</h4>
        <p>No users were found.</p>
      </div>
    </div>
    <!-- PAGING -->
    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
      (pageChange)="handlePageChange($event)" style="float:right;padding-top:27px"></pagination-controls>


    <!-- DELETE CONFIRMATION MODAL  -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color: #318dca">
            <h4 class="modal-title" id="exampleModalLabel">Delete confirmation</h4>
            <button type="button" class="btn-close bg-white" id="close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this account: <strong> {{selectedUser.username}}</strong> that has <strong
              *ngFor="let role of selectedUser.roles">{{role['name']}}</strong>?
            . <strong class="text-danger">This is an irreversible action!</strong></div>
          <div class="modal-footer">
            <button id="control" (click)="deleteUser(selectedUser.id)" type="button" class="btn text-white"
              style="background-color: #145580;">Yes</button>
            <button id='control' #closeDeleteModal class="btn btn-outline-dark " data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <!-- 
  EDIT INFORMATION MODAL -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
      <div class=" modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color:#3085bd">
            <h4 class="modal-title">Edit Information</h4>

            <button type="button" id="close" class="btn-close bg-white" (click)="onCloseHandled()"><span
                aria-hidden="true"></span></button>
          </div>
          <div class="modal-body bg-light">
            <div class="text-danger" *ngIf="error&&updateError!=''">Update failed!. {{updateError}}</div>
          <form [formGroup]="updateUserForm" (submit)="updateUser()">
            <table [style]="width">
              <tr class="mb-3">
                <td>Username</td>
                <div style="font-weight: bold;font-size: 20px;">{{selectedUser.username}}</div>
              </tr>
              <tr>
              <tr style="margin-top:15px">
                <td>Role</td>
                <td>
                  <select (change)="changeRole($event)">
                    <option  *ngFor="let role of selectedRoles" [value]="role.tag" [selected]="role.id==roleSelected.id"
                      >{{role.tag}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Email*</td>
                <td> <input type='text' [style]="width" formControlName="email" value={{selectedUser.email}}>
                  <div class="text-danger" *ngIf="updateUserForm.controls['email'].invalid&&updateUserSubmitted">Invalid email</div>
                </td>
              </tr>
              <tr>
                <td>Phone*</td>
                <td> <input type="text" value={{selectedUser.phone}} formControlName="phone">
                <div class="text-danger" *ngIf="updateUserForm.controls['phone'].invalid&&updateUserSubmitted">Invalid Phone</div>
                </td>
              </tr>
              <tr>
                <td>Address</td>
                <td><input type="text"  value={{selectedUser.address}} formControlName="address"></td>
              </tr>
              <tr>
                <td></td>
                <td>  <div class="modal-footer">
                  <tr><button *ngIf="selectedUser.roles[0]?.id!==4" id="control" class='btn btn text-white'
                      style="background-color: #3085bd;">Update</button>
                  </tr>
                  <button id="control" type="button" class="btn btn-outline-secondary"
                    (click)="onCloseHandled()">Cancel</button>
                </div></td>
              </tr>
            
            </table>
          </form>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  
</body>
<app-loader></app-loader>