.container{margin-bottom:25px;margin-top:20px}
.out-of-stock{
  opacity:0.4;
}
.exceed-quantity{
 background-color: rgb(252, 236, 236);
}
a{text-decoration: none;color:black;font-weight:bold}

#checkout,#empty{padding:10px;width:120px}
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }
  i#minus,i#plus{border-radius:10%;
    border:1px solid grey;
    background-color:snow;
    padding:5px;
    margin:0 5px 0 5px;
    width:24px
}
i:hover,button:hover{cursor: pointer;opacity:0.8}
tr td{padding:5px}