<div id="app">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand"> <button class="btn btn-default bg-white" (click)="openNavButton()"
         #openSideBar *ngIf="isLoggedIn&&(showAdminBoard||showModeratorBoard||showMasterBoard)" type="button" data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
          style="font-weight: bolder;font-size: 15px;"><i class="fa fa-gear"></i></button></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!isLoggedIn||(!showAdminBoard&&!showModeratorBoard&&!showMasterBoard)">
            <a  id="item"  href="/home" class="nav-link" routerLinkActive="active" routerLink="home">Home </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a id="item"  href="/register" class="nav-link" routerLinkActive="active" routerLink="register">Sign Up</a>
          </li>
          <li class="nav-item">

          </li>
        </ul>
        <form class="d-flex">
          <a id="item"  href="/login" *ngIf="!isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
          <a id="item"  href="" class="nav-link" routerLinkActive="active" routerLink="/cart"><i *ngIf="showCart" class="fa fa-shopping-cart"><span id="cart-total" class="circle">{{totalItems}}</span></i></a>
          <a id="item" href="/profile" *ngIf="isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="profile">Hello,
            {{ username }} <img src='' style="width:20px;height:20px;border-radius: 50%;margin-bottom:5px" onerror="this.src='/assets/img/noimage.jpg'"></a>
          <a id="item"  *ngIf="isLoggedIn" href class="nav-link" (click)="logOut()">LogOut</a>
        </form>
      </div>
    </div>
  </nav>

</div>


<router-outlet></router-outlet>
<app-footer style="max-height:25%"></app-footer>


<div id="mySidenav" [ngClass]="hasWidth?'hasWidth':''" class="sidenav">
 <div style="background-color:#3dacf6" class="row">
  <a style="font-size:20px" disabled>Control Panel<button style="margin-left:50px" type="button" (click)="openNavButton()" class="btn-close text-reset bg-white" ></button></a>
</div>
           <a id="item" href="/profile" *ngIf="isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="profile">Your Profile</a>
 <a id="item" href="/home" class="nav-link" routerLinkActive="active" routerLink="home">Product Panel </a>
 <a id="item" href="/register" *ngIf="!isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="register">Sign Up</a>
 <a id="item" href="/admin" *ngIf="showAdminBoard" class="nav-link" routerLinkActive="active" routerLink="admin">Admin Panel</a>
 <a  id="item" href="/master" *ngIf="showMasterBoard" class='nav-link'routerLinkActive="active" routerLink="master">Master Panel</a>
</div>