$arial: Arial, Helvetica, sans-serif;
.fa-gear{
    font-size: 17px;
}
.navbar{background-color:#318dca}
a{color:whitesmoke;}

a#item:hover{opacity: 0.4;}
  body {
    display: flex;
    flex-direction: column;
  }
 .fa-shopping-cart{font-size:20px}
.push-menu{
  margin-left:6rem;
  overflow: hidden;
}
span.circle{
  margin-left:2px;
  border-radius: 50%;
   border:1px solid black;
   padding:4px 7px 4px 7px ;
   text-align:center;
   font-size:14px;
   background-color:white;
   color:red;
}
.footer{max-height: 30%}
  button#close:hover{opacity:0.7}
  nav a:hover{cursor: pointer;text-decoration: none;color:white}
  ul li#board{text-decoration: none;list-style-type: none;padding:5px;font-size: 18px;}
  .offcanvas ul li a{color:snow;text-decoration: none;}
  .active{opacity:0.7;color:rgb(250, 251, 252);font-weight: bold;transform: scale(1.025);}



  .sidenav {
    height:100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#5bbaf9;
    overflow-x: hidden;
  }

  @media (max-width: 768px) {  .content{
    margin-bottom:150px
  }
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color:snow;
    display: block;
    transition: 0.3s;
  }
  .hasWidth{width:100%}
  .sidenav a:hover {
    color: #f1f1f1;
  }
  