$arial: Arial, Helvetica, sans-serif;
.fa-gear{
    font-size: 17px;
}
.navbar{background-color:#318dca}

a{color:whitesmoke;}

a:hover{opacity: 0.4;}
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
 footer {
    margin-top: auto;
    background-color: #2d88c5;
  } 

  button#close:hover{opacity:0.7}
  nav a:hover{cursor: pointer;text-decoration: none;color:white}
  .offcanvas{background-color: #2179B3;width: 15rem;padding:5px}
  ul li#board{text-decoration: none;list-style-type: none;padding:5px;font-size: 18px;}
  .offcanvas ul li a{color:snow;text-decoration: none;}
  .active{opacity:0.7;color:rgb(250, 251, 252);font-weight: bold;transform: scale(1.1);}