<div class="container pb-1 overflow-auto">
  <div class="row mb-5"> 
    <h3 id="header">Delivery and Payment</h3>
  </div>
  <div class="row pt-1 mx-auto">
    <form [formGroup]="orderForm" (submit)="submitForm()">
      <table id="contact">
        <tr>
          <td>Full Name</td>
          <td><input type="text" placeholder="Enter a name" formControlName="name">
            <div class="text-danger" *ngIf="isSubmitted&&this.orderForm.controls['name'].invalid">Name is required</div>
          </td>
        </tr>
        <tr>
          <td>Email address</td>
          <td><input type="email" placeholder="Email address" formControlName="email">
            <div class="text-danger" *ngIf="isSubmitted&&this.orderForm.controls['email'].invalid">Invalid email address</div></td>
        </tr>
        <tr>
          <td>Delivery address</td>
          <td><input type='text' placeholder="Shipping Address" formControlName="address">
            <div class="text-danger" *ngIf="isSubmitted&&this.orderForm.controls['address'].invalid">Address must be filled</div></td>
        </tr>
        <tr>
          <td>Phone numbers</td>
          <td><input type="text" placeholder="Phone numbers" formControlName="phone">
            <div class="text-danger" *ngIf="isSubmitted&&this.orderForm.controls['phone'].invalid">Invalid phone numbers</div></td>
        </tr>
        <tr><td colspan="2"><hr></td></tr>
        <tr>
       <td colspan="4"> <h6>Please review your order detail one more time before payment</h6></td>
       
     </tr>
     <tr>

     </tr>
     <tr><td><button id="checkout" class="btn btn text-white" style="background-color:#2d8bca" type="submit">Pay Now</button></td></tr>
      </table>
    </form>

  </div>
  <table style="width:60%;  border-collapse: separate;
  border-spacing: 5px" class="bg-light pb-5">
    <h4 style="color:gray">Order Review</h4>
      <tr>
        <th scope="col">Product name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th *ngIf="isClicked">Stock</th>
      </tr>
    <tbody> <tr [ngClass]="{'out-of-stock':item.outOfStock}" *ngFor="let item of items">
      <td>{{item.product.name}}</td>
      <td >{{item.quantity}}</td>
      <td>{{item.total}}</td>
      <td *ngIf="!item.outOfStock&&isClicked"><i class="fa fa-check text-success">In Stock</i></td>
      <td *ngIf="item.outOfStock" class="text-danger">Stock: {{item.product.qty}} </td>
    </tr>
    <tr>
      <td></td>
      <td>{{totalItems}} items</td>
      <td><strong>Total: ${{amount}}</strong></td>
    </tr>
    <tr class="text-danger" *ngIf="outOfStock">
      Some products in your cart is out of stock. Please update your <a routerLink="/cart">cart</a>

    </tr></tbody>
  
      </table>
</div>