input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(19, 18, 18);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.rolebox {
  padding: 0px;
  margin-right: 15px;
  border: 0.5px solid black;
  background-color: #186192;
  border-radius: 5px;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
img{border-radius: 50%;height:160px;margin-right:0}
ul li {
  list-style-type: none;
  float: left;
  border: 1px solid black;
  font-size: 13px;
}
button#removerole {
  background-color: white;
  opacity: 1;
}
button.addrole{
  width: 40px;
  height: 43px;
  font-size:20px
}
button.control {
  width: 10rem;
}
button:hover {
  opacity: 0.7;
}
i {
  color: rgb(24, 69, 121);
  font-size: 20px;
}
i:hover {
  cursor: pointer;
  opacity: 0.6;
}
.usernamerow{
  background-color: #ddecf7;
  font-size: 18px;
}
button.profile{
  background-color:#3492d1;width:10rem
}
table#change-password tr td{
width:50%;
}
.text-danger{
  font-size:14px
}
.push-bottom{
  padding-bottom:35px
}
.push-bottom2{
  padding-bottom:25px
}

.image input{
  display:none
}
label:hover{
  cursor: pointer;
}