table,input,button{width:100%;padding:15px}
 label#error{color:red}
label#correct{color:rgb(38, 98, 250)}
form{padding:15px;border:5px solid #2d8bca}
button{background-color: #2d8bca;width:100%}
button:hover{opacity:0.7}