<div class="row">
<div class="col-md-4"></div>
<div class="col-xs-12 col-md-4">
    <form  style="margin-top:8rem;margin-left:5px;" [formGroup]="emailForm" (ngSubmit)="sendEmailReset()">
            <tr><h3 style="text-align:center">Password recovery</h3></tr>
             <tr>
                Please enter the email address that is linked to your account.
             </tr>
             
             <div class="form-group">
                <input type="email" formControlName="email" placeholder="Please enter your email address">
                 <label class="text-danger" for="error" *ngIf="emailForm.controls['email'].invalid&&isSubmitted">Please enter a valid email address</label>
                 <label   id="correct"  *ngIf="showButton">A confirmation link has been sent to the email address you entered</label>
             </div><br><label class="text-danger"  style="margin-bottom:40px" for="error" *ngIf="emailError">Could not find any user associated with this email address.Please try again</label>
          <tr>
    <button class="btn text-white p-2"  *ngIf="!showButton" >Recover your password</button>
    <button class="btn text-white p-2"  *ngIf="showButton">Resend email</button>       
    </tr>
</form>
</div>
</div>
<app-loader></app-loader>
