<div class="row">
<div class="col-md-4"></div>
<div class="col-md-3">
    <form class="mt-2 pt-2">
            <tr><h3 style="text-align:center">Password recovery</h3></tr>
             <tr>
                Please enter the email address that is linked to your account.
             </tr>
             
             <tr>

                <input type="email" placeholder="Please enter your email address">
              
             </tr><br><label for="error" *ngIf="emailError">Could not find any user associated with this email address</label>
<tr>
    <button>Recover your password</button>
    
</tr>       
    </form>
</div>
</div>
