<div class="container">
  <div class="row">
    <button style=" background-color: #2d80b8"type="button" (click)="openModal()" class="btn btn-primary">
      CLICK TO ADD NEW PRODUCT
    </button>
</div>
  <div>
    <header class="jumbotron">
    </header>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-white " style="background-color:'#308dca'">
            <h3 class="modal-title">
             Add A New Product
            </h3>
            <button type="button" class="btn-close btn-close-white" (click)="closeModal()"><span aria-hidden="true"></span></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="submitForm()" [formGroup]="productForm">
              <label for="name">Product Name</label>
              <input type="text" formControlName="name" placeholder="Product Name">
              <label id="error" *ngIf="productForm.controls['name'].invalid">Product name is required, 4-25 characters</label>
               <br>
              <label for="img">Image URL</label>
              <input type="text"  formControlName="img" placeholder="Image URL">
          
              <label for="country">Category</label>
              <select formControlName="category" >
              <option  value={{cat.name}} *ngFor="let cat of categories">{{cat.name}}</option>
              </select>
              <label id="error" for="category" *ngIf="productForm.controls['category'].invalid">Category required</label>
          <br>
              <label for="description">Product Description</label>
              <textarea  formControlName="description"  placeholder="Write product description here" style="height:200px"></textarea>
              <label for="" id="error" *ngIf="productForm.controls['description'].invalid">Description text required</label><br>
              
              <label for="price">Price:</label><BR>
              <input type="number" onkeyup="if(this.value<0){this.value= this.value * -1}" min="0" formControlName="price"><BR>
                <label for="price" id="error" *ngIf="productForm.controls['price'].invalid">Price must be set</label><br>
              <label for="qty">Quantity:</label><br>
              <input type="number" onkeyup="if(this.value<0){this.value= this.value * -1}"  min="0" formControlName="qty"><br>
              <div class='buttons' style="float:right">
              <input style="background-color:#318dca" (click)="submitForm()" type="btn btn submit" class="btn text-white" [disabled]="productForm.invalid" value="Submit">&nbsp;
              <button  type="button"  class="btn btn-outline-dark" style="width: 10rem;" (click)="closeModal()" >
                No
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-home></app-home>
  </div>
