
ul li{list-style-type: none;}
.container{
    margin-bottom: 14%;
    margin-top: 1rem;
    min-height: 100%;
    object-fit: cover;
}
input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top:14px;
    margin-bottom:14px;
  }
label#error{
    margin-top:-15px;
    display:block;
    font-size:15px;
    font-style:italic;
  }

input#filter-control{
   margin:5px;
    width:50%;
}
select#pageSize{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    vertical-align: middle;
}
.product-item {
    position: relative;
    background-color: #f7f7f7;
    padding-bottom: 15px;
    max-height: inherit;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-item .product-image a {
    display: block;
    background: #01242b;
    margin-bottom: 15px; 
    transition: .3s;
}
span.plus{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    color:#318dca
  }
  h3#header{
    text-align: center;
    color:grey
  }
.product-item:hover .product-image a {
    background: rgba(63, 105, 170, .5);
}

.product-item .product-image img {
    width: 100%; 
  height:216.75px

}

.product-item:hover .product-image img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.product-item .product-image .product-action {
    display: block;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 50%;
    text-align: center;
    transition: .5s;
    opacity: 0; 
}

.product-item:hover .product-image .product-action {
    top: calc(50% - 25px);
    opacity: 1; 
}

.product-item .product-image .product-action a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    margin-right: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    background: #318dca;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}

.product-item .product-image .product-action a:hover {
    color: #c3d8f7;
    background: #ffffff;
}

.product-item .product-content {
    position: relative;
    width: 100%;
    text-align: center;
    background: #f7f7f7;
}

.product-item .product-content .title,
.product-item .product-content .ratting,
.product-item .product-content .price {
    position: relative;
    width: 100%;
}

.product-item .product-content .title {
    margin-bottom: 5px;
}

.product-item .product-content .title a {
    color: #cdd7e6;
    font-size: 18px;
    font-weight: 600;
}

.product-item .product-content .ratting i {
    font-size: 14px;
    color: #3F69AA;
}

.product-item .product-content .price {
    font-size: 30px;
    color: #061327;
    font-weight: 700; 
}

.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #666666;
}
.out-of-stock{
    border:3px solid red;
}
.list-low-stock{
color:rgb(247, 140, 101);
}
.list-out-stock{
color:red
}
.out-of-stock-normal{
    opacity:0.5
}
.low-stock{
    background-color:rgb(253, 225, 214)
}
.low-quantity {
    line-height: 20px;
    height: 20px;
    overflow: hidden;
  }
.show {
    overflow: visible;
    height: auto;
  }
button#search{
    background-color: #2d80b8;;
    color: whitesmoke;
}
i#admin{color:#145580}
i:hover{cursor: pointer;}
button:hover{opacity:0.6}
button#search,#remove{height:45px;width:6.7rem;margin:5px}
a{text-decoration: none;}
.modal-header{background-color: #2d80b8;;}
button#delete,button#view{margin:5px;width:5rem}
button#add-product{
    background-color: #026eb6;padding:5px;font-size:15px;width:14rem;height:45px
  }
  .hide-add-to-cart{
      display:none;
  }
 

